BODY { background: rgb(255, 226, 157); padding: 100px; color: rgb(0, 0, 0); text-align: center; }
H2 {color: rgb(255, 0, 0); font-family: cursive}
H2 {text-align: center;}
p {font-size: 102%}

#jerry {
    position: absolute;
    width: 110px;
    border-radius: 20px;
    border: 2px solid black;
    border-color:black;
    left: 150px; 
    bottom: 15px;}
#dino {
    position:absolute;
    width: 300px;
    border-radius: 20px;
    right: 870px;
    border: 2px solid black;
    bottom: 35px; }
#bird {
    position: absolute;
    width: 350px;
    border-radius: 20px;
    border: 2px solid black;
    right: 500px;
    bottom: 32px;}
#falling {
    position: absolute;
    width: 350px;
    border-radius: 20px;
    border: 2px solid black;
    right: 135px;
    bottom: 45px;}
#tiger {
    position: absolute;
    width: 300px;
    border-radius: 20px;
    border: 2px solid black;
    bottom: -147px;
    left: 400px; }
#roar {
    position: absolute;
    width: 340px;
    border-radius: 20px;
    border: 2px solid black;
    bottom: -142px}
#wings {
    position:absolute;
    width: 200px;
    bottom: -165px;
    right: 95px}
#green {
    position: absolute;
    bottom: -200px;
    left: 50px;}

#cartoonbtn {
  background-color: #efeee8;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  font-family: cursive;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.yellow {
    position: absolute;
    bottom: -330px;
    right: 544px;
    background-color: rgba(236, 230, 230, 0.505);
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    width:350px;
    height:150px;  
}  
#green {
  position: absolute;   /* required so it can move */
}

#tiger2 {
    position: absolute;
    width: 200px;
    left: 150px; 
    bottom: -80px;}

#jerry2{
    position: absolute;
    width: 30px;
    right: 600px; 
    bottom: -40px;}

.begin-btn {
    display: inline-block;
    padding: 14px 28px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    background: rgba (0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 12px black;
}

.begin-btn {
    background: rgb(139, 106, 62);
}
h1 {
    color: rgb(96, 55, 11);
}

#forest {
    width: 750px;
    bottom: 2px;
    position: absolute;
    left: 350px;
}
#yay {
    position: absolute;
    bottom: 45px;
    width: 3%;
}
body.day-mode {
    background-color: #f5f5f5; /* normal */
    color: black;
}

body.night-mode {
    background-color: #1a1a1a;
    color: white;
}
#output {
  position: absolute;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  pointer-events: none;
}



